@font-face {
  font-family: "iconfont"; /* Project id 2524113 */
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kongtiao1:before {
  content: "\e663";
}

.icon-kongqizhiliangchaxun:before {
  content: "\e647";
}

.icon-kongqizhiliang-PM10:before {
  content: "\e664";
}

.icon-chenshan1:before {
  content: "\e615";
}

.icon-yaopin:before {
  content: "\e799";
}

.icon-bingbao2:before {
  content: "\e6b4";
}

.icon-bingbao:before {
  content: "\e6b5";
}

.icon-dafengyouwu:before {
  content: "\e6b8";
}

.icon-dafeng:before {
  content: "\e6b9";
}

.icon-dawutian2:before {
  content: "\e6ba";
}

.icon-dalei:before {
  content: "\e6bc";
}

.icon-duoyunyouwu:before {
  content: "\e6bd";
}

.icon-dafeng2:before {
  content: "\e6be";
}

.icon-dawutian:before {
  content: "\e6bf";
}

.icon-sanjifeng:before {
  content: "\e6c0";
}

.icon-duoyunyoudafeng:before {
  content: "\e6c1";
}

.icon-longjuanfeng:before {
  content: "\e6c2";
}

.icon-taiyang:before {
  content: "\e6c3";
}

.icon-leizhenyu2:before {
  content: "\e6c4";
}

.icon-leizhenyu:before {
  content: "\e6c5";
}

.icon-guafengxiayu:before {
  content: "\e6c6";
}

.icon-jufeng:before {
  content: "\e6c7";
}

.icon-leizhenyu3:before {
  content: "\e6c8";
}

.icon-duoyunyoufeng:before {
  content: "\e6c9";
}

.icon-xiayu:before {
  content: "\e6ca";
}

.icon-shuangshandian:before {
  content: "\e6cb";
}

.icon-xiayu2:before {
  content: "\e6cc";
}

.icon-daxue:before {
  content: "\e6cd";
}

.icon-xiaoyu:before {
  content: "\e6ce";
}

.icon-yejianyouyu:before {
  content: "\e6cf";
}

.icon-youwu:before {
  content: "\e6d0";
}

.icon-xiaxue:before {
  content: "\e6d1";
}

.icon-xiaoxue:before {
  content: "\e6d2";
}

.icon-youwu2:before {
  content: "\e6d3";
}

.icon-youfeng:before {
  content: "\e6d4";
}

.icon-youwu3:before {
  content: "\e6d5";
}

.icon-zhongxue:before {
  content: "\e6d6";
}

.icon-yintian:before {
  content: "\e6d7";
}

.icon-xiaofeng:before {
  content: "\e6d8";
}

.icon-yusan:before {
  content: "\e6d9";
}

.icon-celsius-line:before {
  content: "\e651";
}

.icon-blaze-line:before {
  content: "\e652";
}

.icon-cloud-windy-line:before {
  content: "\e653";
}

.icon-cloudy-line:before {
  content: "\e654";
}

.icon-foggy-line:before {
  content: "\e655";
}

.icon-earthquake-line:before {
  content: "\e656";
}

.icon-drizzle-line:before {
  content: "\e657";
}

.icon-hail-line:before {
  content: "\e658";
}

.icon-flood-line:before {
  content: "\e659";
}

.icon-heavy-showers-line:before {
  content: "\e65a";
}

.icon-moon-line:before {
  content: "\e65b";
}

.icon-rainbow-line:before {
  content: "\e65c";
}

.icon-showers-line:before {
  content: "\e65d";
}

.icon-flashlight-line:before {
  content: "\e65e";
}

.icon-sun-line:before {
  content: "\e65f";
}

.icon-sun-cloudy-line:before {
  content: "\e660";
}

.icon-temp-hot-line:before {
  content: "\e661";
}

.icon-windy-line:before {
  content: "\e662";
}

.icon-send-plane-fill:before {
  content: "\e66b";
}

.icon-signal-wifi-2-fill:before {
  content: "\e6da";
}

.icon-signal-wifi-1-fill:before {
  content: "\e6db";
}

.icon-signal-wifi-3-fill:before {
  content: "\e6dc";
}

.icon-signal-wifi-fill:before {
  content: "\e6dd";
}

.icon-signal-wifi-line:before {
  content: "\e6de";
}

.icon-map-pin-2-line:before {
  content: "\e782";
}

.icon-baitian:before {
  content: "\e67f";
}

.icon-daohang:before {
  content: "\e683";
}

.icon-dianzicheng:before {
  content: "\e685";
}

.icon-fanghusan:before {
  content: "\e686";
}

.icon-dingwei2:before {
  content: "\e687";
}

.icon-feiji:before {
  content: "\e688";
}

.icon-gaotie:before {
  content: "\e689";
}

.icon-gouwu:before {
  content: "\e68a";
}

.icon-jia:before {
  content: "\e68e";
}

.icon-jian:before {
  content: "\e68f";
}

.icon-rili:before {
  content: "\e69b";
}

.icon-wendu:before {
  content: "\e6a7";
}

.icon-hangren:before {
  content: "\e6ab";
}

.icon-yundong:before {
  content: "\e6b2";
}

.icon-zihangche:before {
  content: "\e6b6";
}

.icon-zijia:before {
  content: "\e6b7";
}

.icon-shanjing:before {
  content: "\e6bb";
}

